.h6-div {
  width: 500px;
}
.input-div {
  margin-bottom: 10px;
}
.commentsDiv {
  width: 100%;
}
@media only screen and (max-width:1145px){
  body{
    display: block;
    width:50%;
    margin: 0 auto !important;
  }
  .commentsDiv {
    width: 50%;
  }
}

@media only screen and (max-width: 769px) {
  body {
    text-align: center;
  }
  .iframe-div {
    display: block;
    margin: 0 auto;
  }
  .main-div {
    display: block;
  }
  .input-div{
    display: block;
   
  
  }
 iframe{

   display: block;
   max-width: 100%;
   margin: 0 auto;
 }

 .h6-div {
   width: 300px;
 }
 .commentsDiv {
  width: 80%;
}
}

 @media only screen and (max-width:250px){
.commentsDiv {
  width: 230px;
}
} 